{% extends "header.html" %}
{% block content %}

{% if request.user.is_authenticated %}
<p>
  Welcome, 
  <a href="/user/{{request.user.id}}/">{{ request.user.display_name }}</a>
</p>
{% endif %}

{% for post in posts %}

<div class="container-sm">
  <p><h2 class="title"><a href="/post/{{post.id}}/">{{post.title}}</a> -- <a href="/user/{{user.id}}/">@{{post.posted_by}}</a></h2></p>
  <h3>{{post.body}}</h3>
  <h3>{{post.time_stamp}}</h3>
  {% if post.image %}
  <img src="{{ post.image.url}}" alt="">
  <p></p>
  {% else %}
  <div></div>
  {% endif %}
  <button type="button" class="btn btn-primary" onclick="location.href='/comment/{{post.id}}/'">Comment</button>

{% endfor %}

{% endblock %} 
