{% extends "header.html" %}
{% block content %}

<div class="card" style=" margin-left:37%;width: 600;">
    <div class="card-body">
        <h5 class="card-title"><a href="/post/{{post.id}}/">{{post.title}}</a></h5>
        <p class="card-text"><a href="/profile/{{post.posted_by.id}}/">@{{post.posted_by}}</a></p>
        <p class="card-text">{{post.body}}</p>
        <p class="card-text">{{post.time_stamp}}</p>
    </div>
    {% if post.image %}
        <img src="{{ post.image.url}}" alt="" style="margin:20px; height: 450;">
        <p></p>
    {% else %}
        <div></div>
    {% endif %}

    {% if current_user == post.posted_by or is_admin %}
    <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="location.href='/post/{{post.id}}/edit/'">Edit Post</button>
        <button type="button" class="btn btn-danger" onclick="location.href='/post/{{post.id}}/delete/'">Delete Post</button>
    </div>
    {% endif %}
    <div class="card-body">
    <button type="button" class="btn btn-primary" onclick="location.href='/comment/{{post.id}}/'">Comment</button>
  </div>

  <div class="card-body">
    <h4>{{ post.comment_count }} comments</h4>

    {% for comment in comments %}
    <div class="comments" style="padding: 10px;">
      <p class="font-weight-bold">
        <div class="card-text"><a href="/profile/{{post.posted_by.id}}/">@{{post.posted_by}}</a>
            <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
        </div>
      </p>
      {{ comment.body | linebreaks }}
    </div>
    {% endfor %}
  </div>
  
</div>
<br>


{% endblock %}