<p>
    <a href='/user/{{ post.author.id }}'>@{{ post.author.username }}</a>
    at <a href='/post/{{ post.id }}'>{{ post.date }}</a>
</p>

<h7>
    {{ post.body }}
</h7>

    {% comment %} <li><a href='/like/{{post.id}}' class="btn">Like</a>{{post.like}}</li>
    <li><a href='/dislike/{{post.id}}' class="btn">Dislike</a>{{post.dislike}}</li> {% endcomment %}

{{ likes }}



<form action="{% url 'like' post.id %}" method="POST">
    {% csrf_token %}
    <button type="submit name ="like" value={{ post.id }}">Like</button>
</form>

{% comment %} {% for user in post.likes %}
    <p> {{ like.user }} </p>
{% endfor %} {% endcomment %} 

<form action="{% url 'dislike' post.id %}" method="POST">
    {% csrf_token %}
    <button type="submit name ="dislike" value={{ post.id }}">Unlike</button>
</form>

{% comment %} Get username of person who liked {% endcomment %}